.productsList {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  list-style: none;

  @media (min-width: 1024px) {
    padding-block: 2rem;
    gap: 2rem;
  }
}
