.checkbox {
  input {
    background-color: transparent;
    margin-right: 0.5rem;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--yellow);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: #fff;
    position: relative;
  }

  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--yellow);
    border-radius: 2px;
  }

  label {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    text-transform: capitalize;
    font-size: 0.9rem;
  }
}

.checkbox:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
