.productLayout {
  padding: 1rem;
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  background: var(--light-gray);

  @media (min-width: 768px) {
    padding: 2rem;
    gap: 2rem;
  }
}
