.filter_tab {
  background-color: var(--light-gray);
  width: 30%;
  display: none;
  height: 650px;

  overflow-y: hidden;
  @media (min-width: 1024px) {
    top: 2rem;
    position: sticky;
    display: block;
  }
}

.filter_tab_filters {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 5rem;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.filter_tab_btn {
  margin-top: 1rem;
}

.filter_tab h1 {
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}
