* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4a69e2;
  --yellow: #ffa52f;
  --gray: #70706e;
  --dark-gray: #232321;
  --light-gray: #e7e7e3;
  --very-light-gray: #fafafa;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
span,
a,
button,
li,
div {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
